<!DOCTYPE HTML>
<html>
<head>
    <title><%= locals.title || '' %></title>
    <link href="/stylesheets/style.css" rel='stylesheet' type='text/css'/>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
